body {
    background-color: darkviolet;
}

.wrapper {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 20px;
    
}

.sublist {
    opacity: 0.4;
    display:none;
}

.sublist: hover {
    display:block;
}


.sub {
    opacity: 0.4;
    display:none;
}

.sub: hover {
    display:block;
}

.sub2 {
    opacity: 0.4;
    display:none;
}

.sub2: hover {
    display:block;
}

.sub3 {
  animation: cssAnimation 0s 2s forwards;
  visibility: hidden;
}

.sub3: hover {
    visibility: visible;
}

