
@charset "utf-8";
/* skriv kommentaren här... */
body {
    background-color:#ecf0f1
}

h1 {
    background-color: red;
    color:white;
    text-shadow: 2px 2px 1px #000000; /* x y blur color */
    text-align: center;
    line-height: 50px;
    letter-spacing: 5px;
    font-weight: 800;
    text-decoration: none;
}

h6 {
    color:green; 
    background-color: aqua;
    
}

p {
    background-color: red; 
    color: azure;
    font-style: italic;
}

ul {
    border: 1px solid #000000; /* width appearance color */
    padding-left: 0px;
    list-style-type: none; 
}

ul  li {
    color: red; 
}

ul li a {
    color: white;
    text-decoration: none; 
    font-size: 32px;
    background-color: blue;
    display: block;
}
.wrapper {
    background-color: #9b59b6;
    min-height: 400px;
    width: 80%;
    margin: auto; /* top right bottom left - tänk klockan 12, 3, 6, 9, */
    
}
header {
    background-color: #8e44ad;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-flow: row;
}

header img {
    width: 100px;
    height:100px
    
}

main {
    background-color: #9f55be;
    height: 300px; 
    display: flex; 
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.box {
    width: 50px;
    height: 50px;
    background-color: red;
}

.box1 {
    background-color: blue;
}

.box2 {
    background-color: green;
}

.box3 {
    background-color: fuchsia;
}

.box4 {
    background-color: orangered;
}

.box5 {
    background-color: deeppink;
}

.box6 {
    background-color: cyan;
}

.box7 {
    background-color: black;
}

.box8 {
    background-color: darkviolet
}

.box9 {
    background-color: floralwhite;
}

.box10 {
    background-color: brown;
}
/* 
DRY - Don't Repeat Yourself +1
WET - Write Everything Twice -1
*/
