header {
    width:100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    
    
}

body {
    background: lightgray;
}

nav {
    align-items: center;
    justify-content: center;
    display: flex;
}

.first {
    align-items: center;
    justify-content: center;
    display: flex;
}

