@charset "utf-8";

body {
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

}
/*Wizard game */
.Hero-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    border: 1px solid white;
    padding: 20px;
    margin: 5px;

}

.Hero-container .Heroimg {
margin-bottom: 10px;
}
.Hero-button {
    border: 3px double #FFF;
}
.Hero-button button {
    padding: 10px;
    text-shadow: 1px, 1px, 0px #000;
    text-transform: uppercase;
    outline: none;
}

.hp {
    color: red;
    text-shadow: 3px 3px 10px #FFF;
}

.mana {
    color: blue;
    text-shadow: 3px 3px 10px #FFF;
}

.Hero-button button::before {
    content: "> ";
}
.Hero-button button::after {
    content: "! ";
}

.Hero-button button:nth-child(1) {
    background-color: red;
}

.Hero-button button:nth-child(2) {
    background-color: blue;
}

.Hero-button button:nth-child(3) {
    background-color: orange;
}

.btnGameOver {
    background-color: gray !important;
    pointer-events: none;
}

.disableBtnRestart {
    pointer-events: none;
}

.btnRestart {
    width: 100%;
    height: 0px;
    margin-top: 10px;
    background-image: linear-gradient(to right, red, blue, yellow);
    color: white;
    font-weight: bold;
    font-size: 0px;
    font-family: cursive;
    outline: none;
    opacity: 0;
    border-radius: 10px;
    transition: all 1.4s;

}


