html {
    scroll-behavior: smooth;
}
body {
    background-color: #d2dae2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    border: 2px solid black;
    width: 100%;
    justify-content: space-between;
}

.topbarlinks {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 15px;
    
}


.Sellingitems {
        width: 80%;
        height: 700px;
        
        display: flex;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 5px;

        flex-flow: row wrap;
        
       
        justify-content: space-between;
        
        border: 5px black;
        box-sizing: border-box;
        

        
}            

.Cart {
    display: flex;
    flex-flow: column;

    align-items: center;

    z-index: 1;

    visibility: hidden;

    overflow-y: scroll;

    opacity: 0;

    position: fixed;
    
    height: 700px;
    width: 600px;

    margin-top: -350px;
    margin-left: -300px;

    top: 50%;
    left: 50%;

    border-left: 2px solid white;
    border-right: 2px solid white;

    background-color: #485460;

    transition: all 0.4s;
    /* width: 80%; */
    /* height: 500px; */

    /* border: 5px black; */
    /* box-sizing: border-box; */
    /* display: flex; */
    /* flex-flow: column; */
    /* justify-content: center; */
    /* align-items: center; */
    
    /* margin: auto; */
    

}