body {
    background-color: #d2dae2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    border: 5px solid black;
    width: 100%;
}

.Sellingitems {
        width: 80%;
        height: 500px;
        
        display: flex;
        margin: auto;
        margin-top: 10px;
        padding-bottom: 5px;

        flex-flow: row wrap;
        
       
        justify-content: space-between;
        
        border: 5px red solid;
        box-sizing: border-box;
        

        
}            
