html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    justify-content: center;
    margin: 0;
    position: relative;
    background-image: url("../images/bygg.jpg");
    background-repeat: no-repeat;
}
#background {
    width: 90%;
    min-height: 100vh;
    height: 100%;
    position: absolute;
    background-image: url("../images/bygg.jpg");
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}
h1, h2, h3, p, nav button {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-shadow: 1px 1px black;
}
button a {
    text-decoration: none;
    color: inherit;
}
h3 {
    margin: 5px 5px;
}
p {
    margin: 10px 20px;
    font-size: 20px;
    width: 75%;
}
#wrapper {
    width: 70%;
    box-shadow: 1px 1px 5px;
}
.light {
    background: #3867d6;
}
.dark {
    background: #4b7bec;
}
#gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gallery img {
    width: 90%;
    margin: 10px 0;
    box-shadow: 1px 1px 5px;
}
header {
    display: flex;
    justify-content: center;
    background: #e55039;
}
header h2 {
    margin: 10px;
}
nav {
    padding: 0 10px;
    display: flex;
    align-content: center;
}
nav button {
    height: 100%;
    padding: 10px;
    background: none;
    border: none;
}
nav button:hover {
    background: #eb2f06;
}

.sectionPart {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
